
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
        <h2>Öğrenci Ekleme</h2>

        <form action="~/Classroom/AddClassroom" method="post">
            <div class="form-group">
                <label for="email">Sınıf Adı:</label>
                <input type="text" class="form-control" id="email" placeholder="Sınıf adı giriniz" name="ClassroomName">
            </div>
            <br />
            <select class="form-control" name="IsActive">
                <option selected value="true">Aktif</option>
                <option selected value="false">Pasif</option>
            </select>
            <br />
            <button type="submit" class="btn btn-primary">Kaydet</button>
        </form>
    </div>

</body>
</html>


