
@{
    Layout = null;
}
@using SchoolProject.WebUI.Model
@model ClassroomRequestModel
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
        <h2>Sınıf Güncelleme</h2>

        <form action="~/Classroom/UpdateClassroom" method="post">
            <div class="form-group">
                <label for="email">Sınıf Adı:</label>
                <input type="hidden" class="form-control" id="email" placeholder="Ad soyad giriniz" name="classroomId" value="@Model.Classroom.Id">
                <input type="text" class="form-control" id="email" placeholder="Ad soyad giriniz" name="classroomName" value="@Model.Classroom.Name">
            </div>
            <select class="form-control" name="isActive">    
                    if (@Model.Classroom.IsActive == true)
                    {
                        <option selected value="true">Aktif</option>
                    }
                    else
                    {
                        <option value="false">Pasif</option>
                    }

            </select>
            <br />
            <button type="submit" class="btn btn-primary">Kaydet</button>
        </form>
    </div>

</body>
</html>

